/* Font Face Declarations */

/* Geist Font from Vercel CDN */
@import url('https://cdn.jsdelivr.net/npm/geist@1.3.0/dist/fonts/geist-mono/style.min.css');
@import url('https://cdn.jsdelivr.net/npm/geist@1.3.0/dist/fonts/geist-sans/style.min.css');

/* Major Mono Display from Google Fonts (for flip clock digits) */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@font-face {
  font-family: "ChicagoKare";
  src: url("/fonts/ChicagoKare-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ArkPixel";
  src: url("/fonts/fusion-pixel-12px-proportional-ja.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@supports not (font: -apple-system-body) {
  @font-face {
    font-family: "SerenityOS-Emoji";
    src: url("/fonts/SerenityOS-Emoji.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@font-face {
  font-family: "Geneva-12";
  src: url("/fonts/geneva-12.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/fonts/AppleGaramond-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monaco";
  src: url("/fonts/monacottf.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondwest";
  src: url("/fonts/Mondwest-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mondwest";
  src: url("/fonts/Mondwest-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueBit";
  src: url("/fonts/NeueBit-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-size: 1.5em;
}

@font-face {
  font-family: "NeueBit";
  src: url("/fonts/NeueBit-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jacquard";
  src: url("/fonts/Jacquard12-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/AppleGaramond.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AquaKana";
  src: url("/fonts/AquaKana.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LucidaGrande";
  src: url("/fonts/LucidaGrande.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "LucidaGrande";
  src: url("/fonts/LucidaGrande-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
